:root {
    --color-main-text: #212121;
    --color-sec-text: #757575;
    --color-third-text: #FFF;
    --color-accent: #2196F3;
    --color-background: #2F303A;
}
body {
    font-family: Roboto, Verdana, Tahoma, sans-serif;
    color: var(--color-main-text);
}
ul,h2,p {
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
}
.link:hover,
.link:focus {
    color: var(--color-accent);
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* ------------- секция заголовка ------------- */
.header {
    border-bottom: 1px solid #ECECEC; 
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}
.main-nav {
    display: flex;
    align-items: center;
}
.logo {
    font: 700 26px Raleway, sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.2;
    text-decoration: none;
}
.header .logo {
    color: #000000;
}
.logo-web {
    color: var(--color-accent);
}
.nav-list {
    display: flex;
    margin-left: 93px;
}
.nav-item {
    list-style-type: none;
}
.nav-item:not(:last-child) {
    margin-right: 50px;
}

.nav-link, 
.header-contacts-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-main-text);
}
.nav-link.current {
    color: var(--color-accent);
}
.header-contacts {
    display: flex;
}
.header-contacts-item {
    list-style-type: none;
}
.header-contacts-item:not(:last-child) {
    margin-right: 50px;
}
.header-contacts-link {
    color: var(--color-sec-text);
}


/* ------------- нижний колонтитул ------------- */
.footer {
    background-color: var(--color-background);
    min-height: 252px;
    padding-top: 60px;
}
.footer-address {
    margin-top: 20px;
}
.footer .logo {
    color: var(--color-third-text);
}
.footer-address-item {
    list-style-type: none;
    height: 21px;
}
.footer-address-item:not(:last-child) {
    margin-bottom: 9px;
}
.footer-address-link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.office-link {
    color: var(--color-third-text);
}
/* ----------- герой ------------ */
.hero {
    background-color: var(--color-background);
    padding-top: 200px;
}
.hero-text {
    margin: 0 auto 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-third-text);
}
.hero-button {
    font: 700 16px Roboto,sans-serif;
    color: var(--color-third-text);
    line-height: 1.87;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    background: var(--color-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin: 0 auto 200px;
}
/* ----------- особенности ------------ */
.features-item {
    list-style-type: none;
}
.features-item-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    color: var(--color-main-text);
}
.features-item-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-sec-text);
}
/* ----------- чем мы занимаемся ------- */
.we-do-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-main-text);
}
.we-do-list {
    list-style: none;
}
/* ------------ наша команда ------------ */
.team {
    background: #F5F4FA;
    padding-top: 94px;
}
.team-member {
    list-style-type: none;
    width: 270px;
    height: 368px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: 10px 10px;
}
.team-member-name,
.team-member-position {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-main-text);
}
.team-member-position {
  font-weight: 400;
  color: var(--color-sec-text);
}

/* ------------- секция портфолио ------------- */
.portfolio {
    text-align: center;
    padding: 94px 0;
}
.portfolio .title {
    display: none;
}
.center {
    display: inline-block;
}
.portf-filter {
    display: flex;
    margin-bottom: 50px;
}
.portf-filter-item {
    list-style-type: none;
}
.portf-filter-item:not(:last-child) {
    margin-right: 8px;
}
.portf-filter-btn {
    font: 500 16px Roboto, sans-serif;
    color: var(--color-main-text);
    line-height: 1.6;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
}
.portf-filter-btn:hover,
.portf-filter-btn:focus {
    color: var(--color-third-text);
    background-color: var(--color-accent);
    cursor: pointer;
}

.portf-cards {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 auto; */
}

.portf-cards-item {
    list-style-type: none;
    /* border: 1px solid #EEEEEE; */
}
.portf-cards-item:not(:nth-child(3n+3)) {
    margin-right: 30px;
}
.portf-cards-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}
.portf-cards-item img {
    display: block;
}
.portf-card-description {
    padding: 20px 24px;
    text-align: left;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.portf-cards-name {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portf-cards-type {
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--color-sec-text);
    /* margin: 4px 24px 20px 24px; */
}



